<!doctype html>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Welcome to the Docker demo</title>
  </head>

  <body>

    <h1>Welcome to the Docker demo</h1>

    <img src="../static/images/dog.jpg" alt="" />

    <p>You are the visitor number:</p>
    <script type="text/javascript" src="//counter.websiteout.net/js/5/3/1/0"></script>

    <p>Let's discover our prediction app !</p>

  </body>

  <form action="http://localhost:4000/prediction">
    <input type="submit" value="Let's go" />
  </form>


</html>
